<h5 class="text-center">Delivery Address:</h5>
<div>
    <ul class="list-group ">
        <li class="list-group-item">
            <div>
                <h5>Delivery Address 1</h5>
                <div>
                    <p>H.no: X</p>
                    <p>Street1</p>
                    <p>Area1, City1</p>
                    <p>State1, India</p>
                </div>
            </div>
        </li>

        <li class="list-group-item">
                <div>
                    <h5>Delivery Address 2</h5>
                    <div>
                        <p>H.no: X</p>
                        <p>Street2</p>
                        <p>Area2, City2</p>
                        <p>State2, India</p>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                    <div>
                        <h5>Delivery Address 3</h5>
                        <div>
                            <p>H.no: X</p>
                            <p>Street3</p>
                            <p>Area3, City3</p>
                            <p>State3, India</p>
                        </div>
                    </div>
                </li>
    </ul>
</div>