<mat-toolbar class="d-flex justify-content-between" [ngStyle]="{background:backclr, color: textclr}">
    <div>
        <a href="#">
            <img src="../../assets/logo.png" alt="JP Restaurent" class="img-responsive" width="74px" height="49px">
        </a>
    </div>
    <div>
        <mat-menu #headerMenu="matMenu">
<ul class="list-group">
    <li class="list-group-item">    <button class="btn p-0" (click)="onLightMode()" value="light" mat-item-menu>Light mode</button>   </li>
    <li class="list-group-item">    <button class="btn p-0" (click)="onDarkMode()" value="dark" mat-item-menu>Dark mode</button>    </li>
</ul>
        </mat-menu>

        <button [matMenuTriggerFor]="headerMenu" class="btn btn-light">
            Mode
        </button>
    <span class="ml-1 mr-1" routerLink="/cart"><fa name="shopping-cart" class="text-white text-light position-relative" style="font-size: 33px;"></fa><span class="badge badge-info diagonal-right-top" >1</span></span>    
    </div>
    
</mat-toolbar>