#phone{
    padding-right: 20px;
padding-top: 17px;
padding-bottom: 17px;
}


.iti,.iti--allow-dropdown{
    display: flex !important;
    width: 100% !important;
}

.full-width {
    display: flex !important;
    width: 100% !important;
}

