
<div class="row" [ngStyle]="setStyles()">
    <div class="col-md-2">
        <img src="../../assets/logo.png" class="img-responsive img-fluid" alt="JP Restaurent" width="129px" height="90px">
    </div>
    <div class="col-md-10" [ngStyle]="{background:bgcolor, color: textcolor}">
       <div class="d-flex align-items-center "> <h4>Thank You  </h4></div>
       <p>Visit Again! <mat-icon>mood</mat-icon></p>
       <div>
           <span><i class="fab fa-facebook"></i></span>
           <span><i class="fab fa-instagram-square"></i></span>
           <span><i class="fas fa-envelope"></i></span>
           <span><i class="fab fa-linkedin"></i></span>
           <span><i class="fab fa-github"></i></span>
       </div>
    </div>
</div>
<p><span>&copy;</span> All rights reserved to JP Restaurents.</p>
