::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }

   mat-datepicker-toggle {
    color: white !important;
   }
   
.dark1 {
    background: rgb(0, 0, 0,0.7);

}   

.br1 {
    color: white;
}

.fun1 {
    background: rgb(104, 104, 104);
    padding: 3px;
    border-radius: 7px;
}