<ngb-carousel [ngStyle]="{background:backclr, color: textclr}">
    <ng-template ngbSlide>
                <div class="picsum-img-wrapper d-flex justify-content-center">
                  <img src="../../../assets/four.png" alt="Random third slide" class="mh-100" style="width: 90%; height: 100vh">
                </div>
                <div class="carousel-caption">
                        <h3>The tasty food that you deserve</h3>
                        <p>The hefty work that you do, is all for a tasty meal and comfort.</p>
                </div>
    </ng-template>
    
    <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../../../assets/five.png" alt="Random third slide" class="mh-100" style="width: 100%; height: 100vh">
            </div>
            <div class="carousel-caption">
                    <h3>A tasty food can completely change your day.</h3>
                    <p>Have a pleasent and tasty food at JP Restaurent, your mood will effect the decisions you make.</p>                
            </div>
    </ng-template>
    
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img src="../../../assets/two.png" alt="Random second slide" class="mh-100" style="width: 90%; height: 100vh">
      </div>
      <div class="carousel-caption">
            <h3>Taste The best!</h3>
            <p>Yup, you deserve it.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img src="../../../assets/three.png" alt="Random third slide" class="mh-100" style="width: 90%; height: 100vh">
      </div>
      <div class="carousel-caption">
        <h3>The food that you desire!</h3>
        <p>Tasty food can completely change your day.</p>
      </div>
    </ng-template>
   
    
  </ngb-carousel>