<h5 class="text-center">Your Bill:</h5>
<button class="btn btn-success btn-block mt-1 mb-1" (click)="getFinords()">Load your orders</button>
<div>
  
               
                
           <div class="mt-2" *ngFor="let order of arrayOfOrders; let ind=index">
                <mat-expansion-panel *ngIf="order.qty>0">
                        <mat-expansion-panel-header >
                          <mat-panel-title>
                            {{ order.name }}
                          </mat-panel-title>
                          <mat-panel-description class="d-flex justify-content-end text-right">
                            Rs.{{ order.price }} X {{ order.qty }}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                       <div class="row">
                        <div class="col-md-4">
                          <h5 *ngIf="order.qty>0" class="text-right">{{ order.qty }}</h5>
                        </div>
                         <div class="col-md-8 d-flex justify-content-around">
                           <button (click)="addQts(ind)" class="btn btn-sm btn-success">+ Add</button>
                           <button (click)="remQts(ind)" class="btn btn-sm btn-danger">- Remove</button>
                         </div>
                       </div>
            
                      </mat-expansion-panel>
           </div>

           <h4 *ngIf="total1" class="d-flex justify-content-around mt-2" style="border-top: 2px solid black;">
               <span>Total</span>
               <span>{{total1}}</span>
           </h4>
            
        </div>

