<div>
    <div class="card">
        <div class="card-header">
            <p>Developers</p>
        </div>
        <div class="card-body bg-dark">
            <div class="card">
                <div class="card-header">
                    <p>Jai Sai Chand</p>

                </div>
                <hr>
                <div class="card-body">
                    <div class="d-none">
                        <img src="" alt="">
                    </div>
                    <div>
                        <p>Mail: t.jaisaichand4@gmail.com</p>
                        <p>LinkedIn: See my profile <a
                                href="https://www.linkedin.com/in/jai-sai-chand-405aa41b2">here</a></p>
                        <p>Github: Checkout my github profile <a href="https://github.com/jaisaichand">here</a> </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <p>K Naga Prudhvi</p>
                </div>
                <hr>
                <div class="card-body">
                    <div class="d-none">
                        <img src="" alt="">
                    </div>
                    <div>
                        <p>Mail: kolla0453@gmail.com</p>
                        <p>LinkedIn: See my profile <a
                                href="https://www.linkedin.com/in/kolla-nagaprudhvi-aa2a9a145/">here</a></p>
                        <p>Github: Checkout my github profile <a href="https://github.com/KNP0453">here</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>