<h2 class="d-flex justify-content-center"><span>Menu</span></h2>

<mat-accordion>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Starters
      </mat-panel-title>
      <mat-panel-description>
        Starters Menu
      </mat-panel-description>
    </mat-expansion-panel-header>

    

    <div>  <!-- mat expansion panel-->
        <mat-expansion-panel *ngFor="let starter of starters; let ind=index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ starter.name }}
              </mat-panel-title>
              <mat-panel-description class="d-flex justify-content-end text-right">
                Rs.{{ starter.price }}
              </mat-panel-description>
            </mat-expansion-panel-header>
        
           <div class="row">
            <div class="col-md-4">
              <h5 *ngIf="starter.qty>0" class="text-right">{{ starter.qty }}</h5>
            </div>
             <div class="col-md-8 d-flex justify-content-around">
               <button (click)="addStarterQty(ind)" class="btn btn-sm btn-success">+ Add</button>
               <button (click)="removeStarterQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
             </div>
           </div>

          </mat-expansion-panel>
    </div>

  </mat-expansion-panel>

 <!--  .................................  -->
 <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Soups
      </mat-panel-title>
      <mat-panel-description>
        Soups Menu
      </mat-panel-description>
    </mat-expansion-panel-header>

    

    <div>  <!-- mat expansion panel-->
        <mat-expansion-panel *ngFor="let soup of soups; let ind=index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ soup.name }}
              </mat-panel-title>
              <mat-panel-description class="d-flex justify-content-end text-right">
                Rs.{{ soup.price }}
              </mat-panel-description>
            </mat-expansion-panel-header>
        
           <div class="row">
            <div class="col-md-4">
              <h5 *ngIf="soup.qty>0" class="text-right">{{ soup.qty }}</h5>
            </div>
             <div class="col-md-8 d-flex justify-content-around">
               <button (click)="addSoupsQty(ind)" class="btn btn-sm btn-success">+ Add</button>
               <button (click)="removeSoupsQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
             </div>
           </div>

          </mat-expansion-panel>
    </div>

  </mat-expansion-panel>

  <!--  ........  -->

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Curries
        </mat-panel-title>
        <mat-panel-description>
          Curries Menu
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      
  
      <div>  <!-- mat expansion panel-->
          <mat-expansion-panel *ngFor="let curry of curries; let ind=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ curry.name }}
                </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end text-right">
                  Rs.{{ curry.price }}
                </mat-panel-description>
              </mat-expansion-panel-header>
          
             <div class="row">
              <div class="col-md-4">
                <h5 *ngIf="curry.qty>0" class="text-right">{{ curry.qty }}</h5>
              </div>
               <div class="col-md-8 d-flex justify-content-around">
                 <button (click)="addCurriesQty(ind)" class="btn btn-sm btn-success">+ Add</button>
                 <button (click)="removeCurriesQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
               </div>
             </div>
  
            </mat-expansion-panel>
      </div>
  
    </mat-expansion-panel>

     <!--  ........  -->

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Biryani
        </mat-panel-title>
        <mat-panel-description>
          Biryani Menu
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      
  
      <div>  <!-- mat expansion panel-->
          <mat-expansion-panel *ngFor="let biryani1 of biryani; let ind=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ biryani1.name }}
                </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end text-right">
                  Rs.{{ biryani1.price }}
                </mat-panel-description>
              </mat-expansion-panel-header>
          
             <div class="row">
              <div class="col-md-4">
                <h5 *ngIf="biryani1.qty>0" class="text-right">{{ biryani1.qty }}</h5>
              </div>
               <div class="col-md-8 d-flex justify-content-around">
                 <button (click)="addBiryaniQty(ind)" class="btn btn-sm btn-success">+ Add</button>
                 <button (click)="removeBiryaniQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
               </div>
             </div>
  
            </mat-expansion-panel>
      </div>
  
    </mat-expansion-panel>

       <!--  ........  -->

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Chineese
        </mat-panel-title>
        <mat-panel-description>
          Chineese Menu
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      
  
      <div>  <!-- mat expansion panel-->
          <mat-expansion-panel *ngFor="let chineese1 of chineese; let ind=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ chineese1.name }}
                </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end text-right">
                  Rs.{{ chineese1.price }}
                </mat-panel-description>
              </mat-expansion-panel-header>
          
             <div class="row">
              <div class="col-md-4">
                <h5 *ngIf="chineese1.qty>0" class="text-right">{{ chineese1.qty }}</h5>
              </div>
               <div class="col-md-8 d-flex justify-content-around">
                 <button (click)="addChineeseQty(ind)" class="btn btn-sm btn-success">+ Add</button>
                 <button (click)="removeChineeseQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
               </div>
             </div>
  
            </mat-expansion-panel>
      </div>
  
    </mat-expansion-panel>

         <!--  ........  -->

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Desserts
        </mat-panel-title>
        <mat-panel-description>
          Desserts Menu
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      
  
      <div>  <!-- mat expansion panel-->
          <mat-expansion-panel *ngFor="let dessert of desserts; let ind=index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ dessert.name }}
                </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end text-right">
                  Rs.{{ dessert.price }}
                </mat-panel-description>
              </mat-expansion-panel-header>
          
             <div class="row">
              <div class="col-md-4">
                <h5 *ngIf="dessert.qty>0" class="text-right">{{ dessert.qty }}</h5>
              </div>
               <div class="col-md-8 d-flex justify-content-around">
                 <button (click)="addDessertsQty(ind)" class="btn btn-sm btn-success">+ Add</button>
                 <button (click)="removeDessertsQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
               </div>
             </div>
  
            </mat-expansion-panel>
      </div>
  
    </mat-expansion-panel>

    <!--  ...........  -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Tandoori
          </mat-panel-title>
          <mat-panel-description>
            Tandoori Menu
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        
    
        <div>  <!-- mat expansion panel-->
            <mat-expansion-panel *ngFor="let tandoori1 of tandoori; let ind=index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ tandoori1.name }}
                  </mat-panel-title>
                  <mat-panel-description class="d-flex justify-content-end text-right">
                    Rs.{{ tandoori1.price }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
               <div class="row">
                <div class="col-md-4">
                  <h5 *ngIf="tandoori1.qty>0" class="text-right">{{ tandoori1.qty }}</h5>
                </div>
                 <div class="col-md-8 d-flex justify-content-around">
                   <button (click)="addTandooriQty(ind)" class="btn btn-sm btn-success">+ Add</button>
                   <button (click)="removeTandooriQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
                 </div>
               </div>
    
              </mat-expansion-panel>
        </div>
    
      </mat-expansion-panel>

      <!--  ...........  -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Beverages
          </mat-panel-title>
          <mat-panel-description>
            Beverages Menu
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        
    
        <div>  <!-- mat expansion panel-->
            <mat-expansion-panel *ngFor="let beverage of beverages; let ind=index">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ beverage.name }}
                  </mat-panel-title>
                  <mat-panel-description class="d-flex justify-content-end text-right">
                    Rs.{{ beverage.price }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
               <div class="row">
                <div class="col-md-4">
                  <h5 *ngIf="beverage.qty>0" class="text-right">{{ beverage.qty }}</h5>
                </div>
                 <div class="col-md-8 d-flex justify-content-around">
                   <button (click)="addBeveragesQty(ind)" class="btn btn-sm btn-success">+ Add</button>
                   <button (click)="removeBeveragesQty(ind)" class="btn btn-sm btn-danger">- Remove</button>
                 </div>
               </div>
    
              </mat-expansion-panel>
        </div>
    
      </mat-expansion-panel>
  

</mat-accordion>
<div class="pt-4 pb-4 pl-5 pr-5">
  <button (click)="saveOrdersMenu()" class="btn btn-block btn-success">Save orders to cart</button>
  <button (click)="cancelOrdersMenu()" class="btn btn-block btn-danger">Cancel orders</button>
</div>