<div>
    <div class="p-2 border border-dark">
        
            <h5 class="text-white p-2" [ngStyle]="{background: tabColor()}">Online food orders</h5>
        
        <p >
            Book your food from online under 5 mins, and get it delivered to you. 
        </p>
        <a class="btn btn-success" routerLink="/menu">Book Now</a>
    </div>

    <div class="p-2 border border-dark">
        
            <h5 class="text-white p-2" [ngStyle]="{background: tabColor()}">Weddings</h5>
        
        <p >
            We take care of the food at the wedding, While you can peacefully meet and greet your friends without having to think and get tensed about food sufficiency and taste.
            Specify the number of people and select a menu and thereafter everything will be taken care of!
        </p>
        <a class="btn btn-success" routerLink="/menu">Book Now</a>
    </div>

    <div class="p-2 border border-dark">
        
            <h5 class="text-white p-2" [ngStyle]="{background: tabColor()}">Get Together</h5>
        
        <p >
            You have a get together? We provide the tasty food, you concentrate on catching up with your friends.
        </p>
        <a class="btn btn-success" routerLink="/menu">Book Now</a>
    </div>

    <div class="p-2 border border-dark">
        
            <h5 class="text-white p-2" [ngStyle]="{background: tabColor()}">Special Events</h5>
        
        <p >
            Whatever maybe the event, food is the common thing that will be an important thing in all events.
        </p>
        <a class="btn btn-success" routerLink="/menu">Book Now</a>
    </div>

    <div class="p-2 border border-dark">
        
            <h5 class="text-white p-2" [ngStyle]="{background: tabColor()}">Banquet Halls</h5>
        
        <p >
            Dont know where to arrange your event? We have a pretty great banquet hall. Take a look and book for any event.
        </p>
        <a class="btn btn-success" routerLink="/menu">Book Now</a>
    </div>

    <div class="p-2 border border-dark">
        
            <h5 class="text-white p-2" [ngStyle]="{background: tabColor()}">Birthday Parties</h5>
        
        <p >
            Birthdays are the most memorable parties for a lot of people for atleast a year. Plan them in such a way that they wont forget it for a long time.
        </p>
        <a class="btn btn-success" routerLink="/menu">Book Now</a>
    </div>
</div>