<h4 class="text-center">About US</h4>

<div class="card mt-2 mb-2">
    <h5 class="card-header text-center">SR Nagar Branch</h5>
    <div class="card-body">
        <div class="card-text">
            <p>Fake street, Near Umesh chandra statue</p>
            <p>phno: 777333311110000</p>
            <p>pincode: 00000</p>
        </div>
    </div>
</div>


<div class="card">
        <h5 class="card-header text-center">Ibrahimpatnam Branch</h5>
        <div class="card-body">
            <div class="card-text">
                <p>Fake street, Near Ibrahimpatnam ring</p>
                <p>phno: 777333311110000</p>
                <p>pincode: 00000</p>
            </div>
        </div>
</div>


<div class="card mt-2 mb-2">
        <h5 class="card-header text-center">Vaddeswaram Branch</h5>
        <div class="card-body">
            <div class="card-text">
                <p>Fake street, Near Temple, Vaddeswaram</p>
                <p>phno: 777333311110000</p>
                <p>pincode: 00000</p>
            </div>
        </div>
</div>